@import url(//fonts.googleapis.com/earlyaccess/mplus1p.css);

$input-background: rgba(255, 255, 255, 0.2);
$input-text-inactive: rgba(255, 255, 255, 0.5);
$input-text-active: #fff;

@keyframes gradient {
  0% { background-position: 0 0 }
  100% { background-position:100% 0}
}

.card {
  background-color: #3498db;
  width: 450px;
  border-radius: 20px;
  color: white;

  .card-img {
    width: 400px;
  }

  .img-wrapper {
    display: block;
    height: 440px;
  }

  .answer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 2px;
    background: $input-background;

    &:after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 999;
      height: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background: linear-gradient(to right, #ffac95, #e6588a, #c5b9ff, #e6588a, #c5b9ff, #e6588a) 0 0;
      background-size: 500% auto;
      animation: gradient 3s linear infinite;
    }

    input {
      width: 350px;
      font-family: 'Mplus 1p', sans-serif;
      text-align: center;
      color: $input-text-active;
      font-weight: 300;
      font-size: 2rem;
      line-height: 2.4rem;
      vertical-align: middle;
      &::placeholder {
        color: $input-text-inactive;
      }

    }
  }

  .counter {
    font-weight: bold;
    font-size: 2em;
  }

  &:hover {
    animation: shake 0.3s forwards;
    transform-origin: bottom center;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform:rotate(20deg); }
  50%{ transform:rotate(0deg); }
  75% {transform:rotate(-20deg);}
  100% {transform:rotate(0deg); background: #e74c3c;}
}

