@import 'fonts';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.flex-item {
  // border: 1px dashed grey;
  padding: 5px;
  margin-top: 10px;  
  text-align: center;
}