doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    .flex-container
        .flex-item
            include includes/card.pug
        .flex-item
            include includes/progressbar.pug
    //- include includes/card.pug
    //img(src='./images/atlas.png' alt='atlas')
