#card.flex-container.card
    .flex-item.card-img
        img(src='./images/apple.svg' alt='apple')
    .flex-item.counter
        | 10
    .flex-item.answer
        input(type='text', placeholder='こんにちは')

